# Servidor
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=academia_pagos_super_secret_key_2025

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3001

# SPIDI API — Sandbox
SPIDI_BASE_URL=https://sandbox.api.spidipagos.com
SPIDI_SHORT_NAME=yisus
SPIDI_PASSWORD=yisus
SPIDI_AGREEMENT_ID=agr_1419e04cb3ca8b89
SPIDI_BANK_ACCOUNT_ID=ff42b8b4-1677-11f1-911e-42010a1ce016

# Base de datos
DB_PATH=./database.sqlite
